.profile__img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  border: solid white;
  box-shadow: 0 0 5px 0 rgb(198, 196, 196);
}
.profile__header {
  z-index: 1;
}

.profile__about {
  color: Grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid rgba(128, 128, 128, 0.501) 2px;
  box-shadow: 0 2px -2px rgb(209, 207, 207);
  background: rgb(193, 193, 193);
  background: linear-gradient(
    0deg,
    rgba(193, 193, 193, 1) 0%,
    rgba(228, 228, 228, 1) 34%,
    rgba(255, 255, 255, 1) 64%
  );
}
.profile__about ul {
  list-style-type: none;
  font-weight: 700;
}
.profile__about__text {
  text-align: center;
  padding: 0 2rem 0 2rem;
}

.form {
  background: rgb(193, 193, 193);
  background: linear-gradient(
    0deg,
    rgba(193, 193, 193, 1) 0%,
    rgba(228, 228, 228, 1) 34%,
    rgba(255, 255, 255, 1) 64%
  );
  display: flex;
  -flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100%;
  padding-bottom: 8rem;
  padding-top: 3rem;
  gap: 0.5rem;
  background-image: url("../images/new/question-mark-background-1909040_1280 1.png");
}
.form__username {
  display: none;
}
.form__password {
  display: none;
}

.username {
  font-size: 1.2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(198, 196, 196);
  border: none;
  background-color: rgb(227, 227, 227);
  color: rgba(55, 55, 55, 0.653);
}
.password {
  font-size: 1.2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(198, 196, 196);
  border: none;
  background-color: rgb(227, 227, 227);
  color: rgba(55, 55, 55, 0.653);
}

.logout {
  margin-top: 1rem;
  color: white;
  border-radius: 45px;
  border: none;
  box-shadow: 0 0 8px 0 rgb(136, 136, 136);
  background: rgb(173, 0, 156);
  background: radial-gradient(
    circle,
    rgba(173, 0, 156, 1) 0%,
    rgba(168, 68, 158, 1) 33%,
    rgba(166, 136, 163, 1) 100%,
    rgba(173, 0, 156, 1) 100%
  );
  padding: 1rem;
  transition: ease-in-out 0.5s;
  opacity: 0.8;
  font-size: larger;
}

.logout:hover {
  color: rgb(62, 62, 62);

  opacity: 1;
  padding-left: 5rem;
  padding-right: 5rem;
}

.profilde--hide {
  display: none;
}
