.profile__img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  border: solid white;
  box-shadow: 0 0 5px 0 rgb(198, 196, 196);
}
.profile__header {
  z-index: 1;
}

.profile__about {
  color: Grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid rgba(128, 128, 128, 0.501) 2px;
  box-shadow: 0 2px 2px -2px rgb(209, 207, 207);
  background: rgb(193, 193, 193);
  background: linear-gradient(
    0deg,
    rgba(193, 193, 193, 1) 0%,
    rgba(228, 228, 228, 1) 34%,
    rgba(255, 255, 255, 1) 64%
  );
}
.profile__about ul {
  list-style-type: none;
  font-weight: 700;
}
.profile__about__text {
  text-align: center;
  padding: 0 2rem 0 2rem;
}
