.profile__main {
  height: auto;
  margin-top: 5rem;
  -margin-bottom: 7rem;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile__img--frame {
  background-color: rgb(213, 242, 213);
  background-image: url("../images/new/question-mark-background-1909040_1280 1.png");
  height: 50vh;
  width: 470px;
  border-radius: 0 0 45% 45%;
  box-shadow: 0 0 5px 0 rgb(198, 196, 196);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
h2 {
  color: white;
}
