html {
  scroll-behavior: smooth;
}

.main {
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: flex;

  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  flex-wrap: wrap;
}

.main > * {
  flex: 1 1 20%;
}
.box {
  max-width: 40rem;
  min-height: 15rem;
  background-color: rgb(249, 249, 249);
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #bababa;
  position: relative;
}
