.box {
  max-width: 80vw;
  height: calc(100vh - 12rem);

  backdrop-filter: blur(25px) saturate(22%);
  -webkit-backdrop-filter: blur(25px) saturate(22%);
  background-color: rgba(125, 129, 125, 0.37);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  box-shadow: 0px 0px 10px 0px #bababa;
  position: relative;
}

.bookmark {
  position: absolute;
  top: -20px;
  right: 20px;
  height: 4rem;
  filter: invert(91%) sepia(0%) saturate(1567%) hue-rotate(210deg)
    brightness(95%) contrast(98%);
  transition: 0.5s;
}

.bookmark:hover {
  filter: invert(30%) sepia(11%) saturate(8%) hue-rotate(318deg) brightness(94%)
    contrast(85%);
  cursor: pointer;
}

.category {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem;
  list-style-type: none;
}
ul {
  padding-left: 0;
}

.category li {
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 5px 0 rgb(198, 196, 196);
  background: rgba(70, 185, 83, 0.841);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.1rem;
  margin: 1.5rem;
  gap: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.question {
  background-color: #cdcccc27;
  border-radius: 8px;
  box-shadow: 0 0 4px 0 rgb(198, 196, 196);
  color: gray;
  display: flex;
  text-align: center;
  margin: 2rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.button__show {
  color: white;
  border-radius: 45px;
  border: none;
  box-shadow: 0 0 8px 0 rgb(136, 136, 136);
  background: rgb(173, 0, 156);
  background: radial-gradient(
    circle,
    rgba(173, 0, 156, 1) 0%,
    rgba(168, 68, 158, 1) 33%,
    rgba(166, 136, 163, 1) 100%,
    rgba(173, 0, 156, 1) 100%
  );
  padding: 2rem;
  transition: ease-in-out 0.5s;
}

.button__show:hover {
  color: rgb(96, 96, 96);
  cursor: pointer;
}

.button__show_color {
  background: rgba(32, 144, 45, 0.584);
  background: linear-gradient(
    90deg,
    rgba(32, 144, 45, 0.691) 0%,
    rgba(5, 164, 15, 0.691) 0%,
    rgba(20, 219, 40, 0.691) 37%,
    rgba(0, 255, 162, 0.691) 100%
  );
  opacity: 0.8;
}
.button__hide {
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgb(198, 196, 196);
  background: rgb(173, 0, 156);
  background: radial-gradient(
    circle,
    rgba(173, 0, 156, 1) 0%,
    rgba(168, 68, 158, 1) 33%,
    rgba(166, 136, 163, 1) 100%,
    rgba(173, 0, 156, 1) 100%
  );
  padding: 1rem;
  display: none;
}
.button__hide:hover {
  color: rgb(96, 96, 96);
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

/* js-classes */

.bookmark__checked {
  filter: invert(30%) sepia(11%) saturate(8%) hue-rotate(318deg) brightness(94%)
    contrast(85%);
}

.button__show--active {
  display: none;
}

.button__hide--active {
  display: block;
}

.answer1 {
  color: gray;
  visibility: hidden;
  transition: ease-in-out 0.5s;
  text-align: center;
  margin: 2rem;
  background-color: #cdcccc27;
  border-radius: 8px;
  box-shadow: 0 0 4px 0 rgb(198, 196, 196);
  font-size: smaller;
}
.answer--active {
  color: gray;
  visibility: visible;
  display: flex;
  text-align: center;
  transition: ease-in-out 1s;
  background-color: #cdcccc27;
  border-radius: 8px;
  box-shadow: 0 0 4px 0 rgb(198, 196, 196);
  font-size: 1.5rem;
  padding: 0.5rem;
}
