@import "./navbar_styles.css";
@import "./main.css";
@import "./footer_navbar.css";
@import "./question__box.css";
@import "../profile.css";
@import "../profile_main.css";

* {
  box-sizing: border-box;
}

html {
  _font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  background-color: rgb(254, 255, 254);
  background-image: url("../images/new/question-mark-background-1909040_1280 1.png");
  background-attachment: fixed;
}
