html {
  scroll-behavior: smooth;
}

h2 {
  background-color: #cdcccc27;
  border-radius: 8px;
  box-shadow: 0 0 4px 0 rgb(198, 196, 196);
  color: gray;
  font-size: 2rem;
  padding: 0.5rem;
}
.create__main {
  margin-top: 10rem;
  margin-bottom: 10rem;
  font-family: sans-serif;
  display: flex;
  _gap: 5rem;

  height: 100%;
}

.create__box {
  max-width: 90vw;
  /* height: calc(100% - 12rem); */
  background-color: rgb(249, 249, 249);
  background-image: url("../images/new/question-mark-background-1909040_1280 1.png");
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #bababa;
  position: relative;
  padding: 2rem;
}

.label__answer {
  background-color: #cdcccc27;
  border-radius: 8px;
  box-shadow: 0 0 4px 0 rgb(198, 196, 196);
  color: gray;
  font-size: 1.3rem;
  padding-top: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}

.label__answer__box {
  border-radius: 8px;
  box-shadow: 0 2px 4px 2px rgb(198, 196, 196);
  color: gray;
  height: 6rem;
  width: 20rem;
}

.form__question {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.label__question__box {
  border-radius: 8px;
  box-shadow: 0 0 4px 2px rgb(198, 196, 196);
  color: gray;
  height: 6rem;
  width: 20rem;
}

.label__question {
  background-color: #cdcccc27;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(198, 196, 196);
  color: gray;
  font-size: 1.3rem;
  padding-top: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  padding-top: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}
.user__tags {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.btn--submit {
  margin-top: 1.3rem;
  color: white;
  border-radius: 45px;
  border: none;
  box-shadow: 0 0 8px 0 rgb(136, 136, 136);
  background: rgb(173, 0, 156);
  background: radial-gradient(
    circle,
    rgba(173, 0, 156, 1) 0%,
    rgba(168, 68, 158, 1) 33%,
    rgba(166, 136, 163, 1) 100%,
    rgba(173, 0, 156, 1) 100%
  );
  padding: 1rem;
  transition: ease-in-out 0.5s;
  opacity: 0.8;
}

.btn--submit:hover {
  color: rgb(62, 62, 62);

  opacity: 1;
  padding-left: 3rem;
  padding-right: 3rem;
}

.category__tags {
  text-align: center;
  color: rgb(117, 117, 117);
  border-radius: 45px;
  border: none;
  box-shadow: 0 0 4px 0 rgb(198, 196, 196);
  font-size: 1.3rem;
}

.label__choose__categories {
  background-color: #cdcccc27;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(198, 196, 196);
  color: gray;
  font-size: 1.3rem;
  padding-top: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.3rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  padding-top: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}
