.footer {
  width: 100%;
  height: 5em;
  background: rgb(32, 144, 45);
  background: linear-gradient(
    90deg,
    rgb(32, 144, 45) 0%,
    rgba(5, 164, 15, 1) 0%,
    rgba(20, 219, 40, 1) 37%,
    rgba(0, 255, 162, 1) 100%
  );
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.7;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px #bababa;
  box-shadow: inset 0px 0px 15px 0px #bababa;
  position: fixed;
  bottom: 0;
}

.footer__background {
  width: 100%;
  height: 5em;
  background: white;
  position: fixed;
  bottom: 0;
}
.footer__icon {
  padding: 0.5rem;
  display: flex;
  height: 5rem;
}

.footer__home {
  filter: invert(30%) sepia(11%) saturate(8%) hue-rotate(318deg) brightness(94%)
    contrast(85%);
}
.footer__create {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(108deg)
    brightness(102%) contrast(102%);
}
.footer__profile {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(108deg)
    brightness(102%) contrast(102%);
}
.footer__bookmarks {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(108deg)
    brightness(102%) contrast(102%);
}

.footer a:hover {
  filter: invert(30%) sepia(11%) saturate(8%) hue-rotate(318deg) brightness(94%)
    contrast(85%);
}
